<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my page!</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="/api">Check me out who I am?</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h1>WELCOME TO MY PAGE!</h1>
        <br>
        <form action="/api" method="GET">
            <!-- <input type="text" name="title"> -->
            <button type="submit">Check my json object</button>
        </form>
    </main>
</body>
</html>